<div class="container">
    <form class="form-inline text-center">
        <div class="row">
            <div class="form-group" >
                <select class="form-control" ng-model="searchType"  >
                    <option value="ID">ID</option>
                    <option value="Name">Name</option>
                    <option value="Address">Address</option>
                </select>
            </div>
            <div class="form-group">
                <div class="icon-addon addon-md inline">
                    <input type="text" placeholder="Search" class="form-control" name="searchName" style="min-width: 400px;" ng-model="query[queryBy]">
                    <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
                </div>
            </div>
            <button type="submit" class="btn btn-default" ng-click="searchCustomer ()">Search</button>
        </div>
    </form>
</div>